<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseReimbursementSystem</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalReimbursementList</display-name>
    <servlet-name>PersonalReimbursementList</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.PersonalReimbursementList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReimbursementList</servlet-name>
    <url-pattern>/PersonalReimbursementList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTicketServlet</display-name>
    <servlet-name>NewTicketServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.NewTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTicketServlet</servlet-name>
    <url-pattern>/NewTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUnderManagerServlet</display-name>
    <servlet-name>EmployeeUnderManagerServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.EmployeeUnderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUnderManagerServlet</servlet-name>
    <url-pattern>/EmployeeUnderManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCaseList</display-name>
    <servlet-name>AllCaseList</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.AllCaseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCaseList</servlet-name>
    <url-pattern>/AllCaseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptServlet</display-name>
    <servlet-name>AcceptServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.AcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptServlet</servlet-name>
    <url-pattern>/AcceptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reject</display-name>
    <servlet-name>Reject</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoServlet</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatedNameServlet</display-name>
    <servlet-name>UpdatedNameServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.UpdatedNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatedNameServlet</servlet-name>
    <url-pattern>/UpdatedNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecificEmpList</display-name>
    <servlet-name>SpecificEmpList</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.SpecificEmpList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecificEmpList</servlet-name>
    <url-pattern>/SpecificEmpList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecificServerServlet</display-name>
    <servlet-name>SpecificServerServlet</servlet-name>
    <servlet-class>com.expensereimbursementsystem.servlet.SpecificServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecificServerServlet</servlet-name>
    <url-pattern>/SpecificServerServlet</url-pattern>
  </servlet-mapping>
</web-app>